main{
    width: 85%;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
    animation: pageEnter 0.5s ease-out;
}


main .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-block: 15px;
}